.card{
     /* From https://css.glass */
     background: rgba(255, 255, 255, 0.26);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(1.2px);
     -webkit-backdrop-filter: blur(9.2px);

     width: auto;
     height: 450px;
     transition: all .2s ease-in-out;
     margin-top: 10px;
     margin-left: 10px;
     padding: 10px;

}

.card:hover{
    transform: scale(1.01);
}

.fields{
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    padding: 10px;
    justify-content: space-around;
    width: 250px;
}

.fields .icon{
    
    padding: 10px;

}
