.nav-bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* background-color: #006e1d; */

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2px);
    -webkit-backdrop-filter: blur(9.2px);
}




.nav-bar img {

    margin-top: 20px;
    margin-left: 20px;
    height: 50%;
}

.nav-bar div {
    margin: auto;
    margin-right: 20px;
}



.primaryBtn {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 1rem;
    border: none;
    color: white;
    background: #006e1d;
    transition: all 0.25s ease;
}

.primaryBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}


#main-body {
    display: flex;
    flex-direction: row;
}

#side-nav {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2px);
    -webkit-backdrop-filter: blur(9.2px);

    height: 700px;
    width: 300px;

    margin-top: 10px;
    margin-left: 10px;

}


#main-content {
    margin-top: 20px;
    margin-left: 20px;

    display: flex;
    max-width: 1300px;
    flex-wrap: wrap;

}

#no-vender{
    height: 200px;
    width: 400px;
    background: black;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}