.text-center {
    text-align: center;
}


.main-title {
    padding-top: 7rem;
    font-size: 2rem;
    text-transform: uppercase
}

.main-para {
    font-size: 2.5rem;
    text-Transform: capitalize
}

.base {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.5px);
    -webkit-backdrop-filter: blur(14.5px);
    
    height: 50%;
    margin: auto auto;
    width: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#reg_btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#reg_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#reg_btn:hover span {
    padding-right: 25px;
}

#reg_btn:hover span:after {
    opacity: 1;
    right: 0;
}

.buttons{
    margin-top: 5rem;
}


.base-message {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.5px);
    -webkit-backdrop-filter: blur(14.5px);
    padding: 10px;
    height: 10%;
    margin: auto auto;
    width: 30%;
    position: absolute;
    margin: 10px auto;
    top: 10;
    right: 0;
    bottom: 0;
    left: 0;
    color: #63c97e;
}
