#form-content{
    width: 100%;
    padding: 20px;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
}

form {
    display: inline-block;
    padding: 1rem;
    margin: 2rem 0 1rem 0
}

form label {
    float: left;
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 0
}


input[type=text], input[type=password], input[type=email], input[type=number]{
    font-size: medium;
    width: 100%;
    height: 2rem;
    padding: .5rem;
    border-radius: 10px;
    outline: none;
    border: none;
}


button[type=submit]{
    margin-top: 20px;
}

#back{
    color: aliceblue;
}